@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-ghost-white: #f9f7ff;
    --color-grey: #e2e8f0;
    --color-gainsboro: #dbd8e3;
    --color-black-coral: #5c5470;
    --color-onyx: #352f44;
    --color-dark-purple: #2a2438;
}

* {
    padding: 0;
    margin: 0;
}

.ghost-white {
    background: var(--color-ghost-white);
}

.gainsboro {
    background: var(--color-gainsboro);
}

.black-coral {
    background: var(--color-black-coral);
}

.onyx {
    background: var(--color-onyx);
}

.dark-purple {
    background: var(--color-dark-purple);
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-grey);

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard {
    padding: 16px 0px 0px 16px;
    color: white;
    background-color: var(--color-dark-purple);

    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dashboard > .logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard > .logo > img {
    filter: invert(100%);
    width: 32px;
}

.dashboard > .logo > .logo-text {
    margin: 0;
    font-size: 1.5rem;
}

.dashboard ul li {
    margin: 12px 0;
}

.dashboard ul li a {
    color: white;
}

.header {
    padding: 12px 32px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-icon,
.notification-icon {
    width: 24px;
}

.search {
    display: flex;
    align-items: center;
}

.search > input {
    height: 2em;
    flex: 1;
    border-radius: 32px;
    border: none;
    background-color: var(--color-grey);
}

.profile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.profile-menu > .profile-picture {
    width: 40px;
}

.profile-greeting {
    display: flex;
    align-items: center;
    gap: 24px;
}

.profile-greeting > .profile-picture {
    width: 64px;
}

.quick-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}