@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-ghost-white: #f9f7ff;
    --color-grey: #e2e8f0;
    --color-dark-grey: #a0a0a0;
    --color-gainsboro: #dbd8e3;
    --color-black-coral: #5c5470;
    --color-onyx: #352f44;
    --color-dark-purple: #2a2438;
}

* {
    padding: 0;
    margin: 0;
}

.ghost-white {
    background: var(--color-ghost-white);
}

.gainsboro {
    background: var(--color-gainsboro);
}

.black-coral {
    background: var(--color-black-coral);
}

.onyx {
    background: var(--color-onyx);
}

.dark-purple {
    background: var(--color-dark-purple);
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-grey);

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard {
    padding: 16px 0px 0px 16px;
    color: white;
    background-color: var(--color-dark-purple);

    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dashboard>.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard>.logo>img {
    width: 32px;
}

.dashboard>.logo>.logo-text {
    margin: 0;
    font-size: 1.5rem;
}

.dashboard ul {
    margin-left: 6px;
}

.dashboard ul li {
    margin: 16px 0;
}

.dashboard ul li a {
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
}

.dashboard ul li a img {
    width: 18px;
}

.header {
    padding: 12px 32px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-icon,
.notification-icon {
    width: 24px;
}

.profile-picture {
    border-radius: 100%;
}

.search {
    display: flex;
    align-items: center;
}

.search>input {
    height: 2em;
    margin-left: 18px;
    padding: 0 16px;
    flex: 1;
    border-radius: 32px;
    border: none;
    background-color: var(--color-grey);
}

.search>input:focus {
    outline: 2px solid var(--color-gainsboro);
    box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 5px;
}

.profile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.profile-menu>.profile-picture {
    width: 40px;
}

.profile-menu> p {
    font-size: 1.25rem;
}

.profile-greeting {
    display: flex;
    align-items: center;
    gap: 24px;
}

.profile-greeting>.profile-picture {
    width: 64px;
}

.profile-greeting p:first-child {
    font-size: .75rem;
    margin-bottom: 4px;
}

.profile-greeting p:last-child {
    font-size: 1.5rem;
}

.quick-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 24px;
}

.main .title {
    margin: 36px 0px 12px;
    font-size: 1.25em;
    font-weight: 500;
}

.main .card {
    background-color: white;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    padding: 24px 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects {
    display: flex;
    flex-direction: column;
    grid-row: 1 / -1;
}

.projects .card {
    display: flex;
    flex-direction: column;
}

.projects .content {
    flex: 1 1 auto;
}

.projects .name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.projects .description {
    color: var(--color-dark-grey);
    font-weight: 300;
}

.projects .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.projects .actions img {
    width: 32px;
}

.announcements,
.trending {
    display: flex;
    flex-direction: column;
}

.announcements>.card>.announcement:nth-child(2) {
    border-top: 1px solid var(--color-dark-grey);
    border-bottom: 1px solid var(--color-dark-grey);
}

.announcements>.card>.announcement {
    padding: 16px 0;
}

.announcement-title {
    font-size: 1rem;
    margin-bottom: 4px;
}

.announcement-content {
    font-size: .8rem;
    color: var(--color-dark-grey);
}

.trending-profile {
    display: flex;
    align-items: center;
}

.trending-profile:not(:first-child):not(:last-child) {
    margin: 16px 0;
}

.trending-profile> .profile-picture {
    border-radius: 100%;
    border: none;
    width: 40px;
    margin-right: 16px;
}

.trending-profile> div> p {
    font-size: .9rem;
}

.trending-profile> div> p:last-child {
    color: var(--color-dark-grey);
}

.btn {
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.primary-btn {
    width: 84px;
    height: 32px;
    background-color: var(--color-dark-purple);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.329) 0px 2px 2px;
}

.bold {
    font-weight: bold;
}

.invert-color {
    filter: invert(100%);
}