@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-white: #f9f7ff;
    --color-gainsboro: #dbd8e3;
    --color-black-coral: #5c5470;
    --color-onyx: #352f44;
    --color-dark-purple: #2a2438;
}

* {
    padding: 0;
    margin: 0;
}

.white {
    background: var(--color-white);
}

.gainsboro {
    background: var(--color-gainsboro);
}

.black-coral {
    background: var(--color-black-coral);
}

.onyx {
    background: var(--color-onyx);
}

.dark-purple {
    background: var(--color-dark-purple);
}

li {
    list-style-type: none;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard {
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dashboard > .logo {
    display: flex;
    align-items: center;
}

.dashboard > .logo > .logo-text {
    margin: 0;
    font-size: 1.5rem;
}

.dashboard ul li {
    margin: 12px 0;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}